
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    box-sizing: border-box;
}
body{
    /* min-height: 100vh; */
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #0c356a;
     
}
.table_responsive {
    width: 95%;
    height: 100%;
    border: 1px solid #0c356a;
    background-color: #0c356a;
    padding: 35px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}
table {
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}
table>thead {
    background-color: #fff5;
    color: #fff;
}
table>thead th {
    padding: 15px;
}
table th,
table td {
    border: 1px solid #00000017;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    text-align: center;
    vertical-align: middle;
}
table>tbody>tr>td>.doubleInfo>img {
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff5;
    box-shadow: 0 2px 6px #0003;
}
.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
   
}
.action_btn>a {
    text-decoration: none;
    color: #444;
    background: #fff5;
    border: 1px solid;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    background-color: #0c356a;
    color:white;
}
.action_btn>a:nth-child(1) {
    border-color: #0c356a;
}
.action_btn>a:nth-child(2) {
    border-color: #0c356a;
}
/* .action_btn>a:hover {
    box-shadow: 0 3px 8px #0003;
} */
table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}
table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}
/* table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
} */

.doubleInfo{
    display: flex;
    justify-content: space-evenly;
    position: relative;;
}
span{
    margin: auto 0;
}


.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    font-size: 2rem;
    color: black;
    margin-bottom: 2rem;
}

.rating .star {
    cursor: pointer;
}

.rating .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}
.ret{
    background-color: #00bcd4;
    color:white;
        margin-top: 25%;
    border-radius: 20%;
    font-size: 1rem;
    padding: 0px;
   
}
a   {
    text-decoration: none;
}
