*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.retu {
	margin-left: 50%;
}
body{
	font-family: arial;
	font-size: 16px;
	margin:0;
	background: #BCD7ED;
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
}
img{
	max-width: 100%;
}
.ui-card{
	width: 350px;
    height: 300px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
	background:radial-gradient(#111 50%, #000 100%);
}

.ui-card img{
	transform: scale(1.3);
	transition: all 0.3s ease-out;
}
.ui-card:hover img{
	transform: scale(1.1) translateY(-20px); 
	opacity: 0.3
}
.ui-card .description{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.ui-card .description h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;
    font-style: italic;

}
.ui-card .description p{
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.2s;
    font-size: 15px;
}
.ui-card .description a{
	color: #fff;
	background:#f3cd34;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 5px;
	text-decoration: none;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.4s;
}
.ui-card .description a:hover{
	background:#0a83c5;
}
.ui-card:hover .description h3{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description p{
	opacity: 1;
	transform: translateY(0px);
}
.ui-card:hover .description a{
	opacity: 1;
	transform: translateY(0px);
}
 
.navbar {
	/* background-color: #fff6 !important; */
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;
	 


}

ul {
	list-style: none;
}

.nav-links {
	display: flex;
	align-items: center;


}
.navbar .nav-links li{
	background-color: black;
	border-radius: 30px;
	padding: 5px 30px;
	border: 1px solid black;
}
.navbar .nav-links li:hover {
	color:  white;
	border-radius: 30px;
	border:1px solid white  ;
}
.nav-links li {
	margin: 0 30px;
	color: white;
	background-color: #0023bd;

}
.nav-links li:hover{
	background-color: #ebc474;
}
.logo {
	color: black;
}
