table tr td,
table tr th {
    text-align: center;
    
}
table{
    border-collapse: collapse;
}
table tr td.dynamic{
    border-left: none;
    
}
table tr td.link{
    border-right: none;
}
table tr {
    vertical-align: middle;
}
/* Base button styles */
.but {
    display: inline-block;
    padding: 3px 9px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #243B55;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect */
.but:hover {
    background-color: #f3cd34;
    transform: translateY(-2px);
}

/* Active effect */
.but:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
   label {
       display: block;
       margin-bottom: 8px;
       color: #333;
       font-weight: bold;
   }

   /* Style for the select box */
   select {
       width: 200px;
       padding: 8px;
       font-size: 16px;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }

   /* Style for the select box when it's focused */
   select:focus {
       outline: none;
       border-color: #5b9dd9;
       box-shadow: 0 0 8px rgba(91, 157, 217, 0.7);
   }

   /* Style for the options */
   select option {
       font-size: 14px;
       background-color: #f5f5f5;
       color: #333;
       padding: 30px 90px;
   }

   #requestStatus{
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-weight: 900;
            font-size: 1.2em;
   }